@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#2563eb,#38bdf8);

}

.container{

width:100%;

display:flex;

justify-content:center;

}

.card{

width:430px;

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 20px 40px rgba(0,0,0,.25);

}

.icon{

font-size:60px;

color:#2563eb;

margin-bottom:20px;

}

.card h2{

margin-bottom:10px;

color:#2563eb;

}

.card p{

margin-bottom:25px;

color:#666;

}

input{

width:100%;

padding:15px;

margin:12px 0;

border-radius:10px;

border:1px solid #ddd;

font-size:15px;

}

button{

width:100%;

padding:15px;

margin-top:10px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1d4ed8;

}

.otpBox,
.passwordBox{

display:none;

margin-top:20px;

}

a{

display:block;

margin-top:25px;

text-decoration:none;

color:#2563eb;

font-weight:600;

}

@media(max-width:500px){

.card{

width:95%;

padding:25px;

}

}